#contacto{
    max-width: 50rem;
    margin: 3.125rem auto;
    box-shadow: 0 0.625rem 1.875rem 0 rgba(0, 0, 0, 1);
    
   }
   
   #contacto .titulo{
     text-transform: uppercase;
     letter-spacing: 0.188rem;
     font-size: 3em;
     line-height: 3rem;
    }
   
    .contact-form .form-field{
     margin: 1rem 0;
   }


   
   .contact-form .submit-btn{
     display: inline-block;
   color: #fff;
   background-color: #0070ba;
   text-transform: uppercase;
   letter-spacing: 0.188rem;
   font-size: 1rem;
   padding: 0.5rem 1rem ;
   border: none;
   width: 12.5rem;
   cursor: pointer;
   }
   
   form {
       background-color: #fff;
   }
   
   
   input {
       margin-top: 0.65rem;
   }
   
   form button {
       width: fit-content;
       height: fit-content;
   }
   
   textarea{
    margin-top: 0.65rem;
   }

   label{
    font-size: 1.25rem;
   }